.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.responsiveMenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__kbOrY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.freeBox__kbOrY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__kbOrY > :global(.__wab_flex-container) > *,
.freeBox__kbOrY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kbOrY > :global(.__wab_flex-container) > picture > img,
.freeBox__kbOrY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__mf9Ac {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__chFNj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jwgwc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jwgwc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jwgwc > :global(.__wab_flex-container) > *,
.freeBox__jwgwc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jwgwc > :global(.__wab_flex-container) > picture > img,
.freeBox__jwgwc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__nu37W {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nu37W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nu37W > :global(.__wab_flex-container) > *,
.freeBox__nu37W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nu37W > :global(.__wab_flex-container) > picture > img,
.freeBox__nu37W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text___3WWJt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__yaSDh {
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__bOr4F {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bOr4F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bOr4F > :global(.__wab_flex-container) > *,
.freeBox__bOr4F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bOr4F > :global(.__wab_flex-container) > picture > img,
.freeBox__bOr4F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__ax4Gk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__o0MHq {
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__ymcqh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ymcqh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ymcqh > :global(.__wab_flex-container) > *,
.freeBox__ymcqh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ymcqh > :global(.__wab_flex-container) > picture > img,
.freeBox__ymcqh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__dseoS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__suRpF {
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__nPohA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nPohA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nPohA > :global(.__wab_flex-container) > *,
.freeBox__nPohA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nPohA > :global(.__wab_flex-container) > picture > img,
.freeBox__nPohA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__zAtDz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___8PTht {
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__hYq3G {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hYq3G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__hYq3G > :global(.__wab_flex-container) > *,
.freeBox__hYq3G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hYq3G > :global(.__wab_flex-container) > picture > img,
.freeBox__hYq3G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__mgWte {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__tbfyq {
  width: auto;
  height: auto;
  max-width: 100%;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ucZk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__itEj5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zjLef {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  min-width: 0;
}
.freeBox___0Wb9E {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___0Wb9E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___0Wb9E > :global(.__wab_flex-container) > *,
.freeBox___0Wb9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Wb9E > :global(.__wab_flex-container) > picture > img,
.freeBox___0Wb9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__ounD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__xmKkl {
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__slue {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__slue > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__slue > :global(.__wab_flex-container) > *,
.freeBox__slue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__slue > :global(.__wab_flex-container) > picture > img,
.freeBox__slue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__jL4Wv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__aTJq9 {
  width: auto;
  height: auto;
  max-width: 100%;
}
