.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: 20px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 1100px) {
  .root > * {
    grid-column: 4;
  }
}
.responsiveMenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__ph0Aw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rpLgw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 30px;
  min-width: 0;
  padding: 0px;
}
.text__wm0Qb {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-UeytqckwiEaIY);
  min-height: 30px;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__flctr:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__esnE5 {
  position: relative;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__kmQ3R:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__bji0M {
  position: relative;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lpkin {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__gaJsU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kdoUb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___3CbIb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hjasd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___84O8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qpn4J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 39px;
  min-width: 0;
}
.text__tahIm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 39px;
  min-width: 0;
}
