.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  grid-row-gap: 20px;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/a_d_3/images/whatsAppImage20230611At000637Jpeg.jpg") top 0% left 0% / auto auto repeat;
  padding-bottom: 25px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 641px) {
  .root {
    padding-bottom: 22px;
  }
}
@media (min-width: 641px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 1100px) {
  .root > * {
    grid-column: 4;
  }
}
.responsiveMenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__xEypm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.freeBox__xEypm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xEypm > :global(.__wab_flex-container) > *,
.freeBox__xEypm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xEypm > :global(.__wab_flex-container) > picture > img,
.freeBox__xEypm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 641px) {
  .freeBox__xEypm {
    max-width: 90%;
  }
}
.text__umcng {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-OUN95h6v6);
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__vZu6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #b7b7b721;
  min-width: 0;
  padding: 12px;
}
.freeBox__vZu6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__vZu6 > :global(.__wab_flex-container) > *,
.freeBox__vZu6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vZu6 > :global(.__wab_flex-container) > picture > img,
.freeBox__vZu6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text___1VuWm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  min-width: 0;
}
.freeBox__oNpL5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #b7b7b721;
  min-width: 0;
  padding: 12px;
}
.freeBox__oNpL5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__oNpL5 > :global(.__wab_flex-container) > *,
.freeBox__oNpL5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oNpL5 > :global(.__wab_flex-container) > picture > img,
.freeBox__oNpL5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__jgxSk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  padding-top: 0px;
  min-width: 0;
}
.span__dwBb7 {
  color: var(--token-hOu6W2okJTCkF);
  font-size: 20px;
}
.faleConosco2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(50px + 20px) !important;
  display: none;
}
.faleconosco3:global(.__wab_instance) {
  position: relative;
}
.freeBox__hopBn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hopBn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__hopBn > :global(.__wab_flex-container) > *,
.freeBox__hopBn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hopBn > :global(.__wab_flex-container) > picture > img,
.freeBox__hopBn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__pedVd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__mJlhH {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zNul0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___2KRG {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__uS2TQ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__uS2TQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__uS2TQ > :global(.__wab_flex-container) > *,
.freeBox__uS2TQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uS2TQ > :global(.__wab_flex-container) > picture > img,
.freeBox__uS2TQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button__rOsk0:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nqiaN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tgP95 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___1Njh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 20px;
  text-align: center;
}
.button__w71DW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3RqYe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uugtj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___1Xp1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___2MqZq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gtxUn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__qySe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__vCqPd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__vCqPd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__vCqPd > :global(.__wab_flex-container) > *,
.freeBox__vCqPd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vCqPd > :global(.__wab_flex-container) > picture > img,
.freeBox__vCqPd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button__kNzPj:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sEdwp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mbBDr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___92AZk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 20px;
  text-align: center;
}
.button__ioLqo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ydnSd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ge36P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__cVxz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-OUN95h6v6);
  padding: 8px;
}
.text__fXvHi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-KvwRoNxH_VUpY);
  min-width: 0;
}
.button__po4Dg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3Pqjq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___1C7Wj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__jLtot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__jLtot > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jLtot > :global(.__wab_flex-container) > *,
.freeBox__jLtot > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jLtot > :global(.__wab_flex-container) > picture > img,
.freeBox__jLtot
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.breakpointProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 0px;
}
.dataProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.toastProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.formProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___5Ep9A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5Ep9A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___5Ep9A > :global(.__wab_flex-container) > *,
.freeBox___5Ep9A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Ep9A > :global(.__wab_flex-container) > picture > img,
.freeBox___5Ep9A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text___5Vcw5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-OUN95h6v6);
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___1GsKv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 1100px) {
  .freeBox___1GsKv {
    margin-top: calc(0px + 20px) !important;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.formField__jruW:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-OUN95h6v6);
  display: block;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hisP1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fZTpu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mOps {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__mOps {
    width: auto;
  }
}
.freeBox__s20Ze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  margin-top: calc(-24px + 20px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__s20Ze > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__s20Ze > :global(.__wab_flex-container) > *,
.freeBox__s20Ze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s20Ze > :global(.__wab_flex-container) > picture > img,
.freeBox__s20Ze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 1100px) {
  .freeBox__s20Ze {
    margin-top: calc(0px + 20px) !important;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: none;
  }
}
.text___2Yyix {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formFieldGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__bEehz {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bEehz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bEehz > :global(.__wab_flex-container) > *,
.freeBox__bEehz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bEehz > :global(.__wab_flex-container) > picture > img,
.freeBox__bEehz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 641px) {
  .freeBox__bEehz > :global(.__wab_flex-container) {
    margin-left: calc(0px - 30px);
    width: calc(100% + 30px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 641px) {
  .freeBox__bEehz > :global(.__wab_flex-container) > *,
  .freeBox__bEehz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bEehz > :global(.__wab_flex-container) > picture > img,
  .freeBox__bEehz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 30px;
    margin-top: 0px;
  }
}
.formField__yFTl1:global(.__wab_instance) {
  width: 80%;
  max-width: 100%;
  object-fit: cover;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fVmca {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qtzyl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.requiredField__exwGn:global(.__wab_instance) {
  position: relative;
}
.formField__g8SI:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
  min-width: 0;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.requiredField__rxl7T:global(.__wab_instance) {
  max-width: 100%;
}
.formField__lRnEr:global(.__wab_instance) {
  width: 80%;
  max-width: 100%;
  object-fit: cover;
}
.input12:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cchQq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__suxPl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.requiredField__l08Z:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___4MuE {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: calc(-48px + 20px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox___4MuE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 641px) {
  .freeBox___4MuE {
    margin-top: calc(-48px + 20px) !important;
  }
}
@media (min-width: 1100px) {
  .freeBox___4MuE {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
@media (min-width: 1100px) {
  .freeBox___4MuE > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 1100px) {
  .freeBox___4MuE > :global(.__wab_flex-container) > *,
  .freeBox___4MuE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4MuE > :global(.__wab_flex-container) > picture > img,
  .freeBox___4MuE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox___33DhT {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 1100px) {
  .freeBox___33DhT {
    margin-top: calc(0px + 20px) !important;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    margin-right: 0px;
    display: flex;
  }
}
.formField__zDnw2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-OUN95h6v6);
  display: block;
  min-width: 0;
}
.birthdate2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jhs9Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jrBvZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__nQbFf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: var(--token-uYlbgJ5Hu);
  margin-right: -10px;
  padding: 0px 10px 0px 0px;
}
.freeBox__nQbFf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__nQbFf > :global(.__wab_flex-container) > *,
.freeBox__nQbFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nQbFf > :global(.__wab_flex-container) > picture > img,
.freeBox__nQbFf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text___8MZtS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ff4d4f;
}
.text__ceRwV {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
}
.formField__dsWe:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  margin-top: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__dsWe:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input13:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lxAGe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___293Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___6Jt8I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text___6Jt8I {
    width: auto;
  }
}
.formField__yMDyE:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__yMDyE:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input27:global(.__wab_instance) {
  max-width: 100%;
}
.svg__yrNFa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__h27O6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fb93 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__fb93 {
    width: auto;
  }
}
.formField___9L8Ng:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField___9L8Ng:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input29:global(.__wab_instance) {
  max-width: 100%;
}
.svg___0PrYy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zNvzh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gUeUt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__gUeUt {
    width: auto;
  }
}
.freeBox__ecK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 25px;
}
.freeBox__ecK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ecK > :global(.__wab_flex-container) > *,
.freeBox__ecK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ecK > :global(.__wab_flex-container) > picture > img,
.freeBox__ecK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__eFyfm {
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__tshCy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___0Q08K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__oaLSf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oaLSf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__oaLSf > :global(.__wab_flex-container) > *,
.freeBox__oaLSf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oaLSf > :global(.__wab_flex-container) > picture > img,
.freeBox__oaLSf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.button__xd9Np:global(.__wab_instance) {
  max-width: 100%;
}
.svg__yQtzR {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___09E1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___6QhLc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pLjH9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__oNw7T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.loading:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
}
