.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  grid-row-gap: 20px;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/a_d/images/whatsAppImage20230611At000637Jpeg.jpg") top 0% left 0% / auto auto repeat;
  padding-bottom: 25px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 641px) {
  .root {
    padding-bottom: 22px;
  }
}
@media (min-width: 641px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
@media (min-width: 1100px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.responsiveMenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__xEypm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3;
  grid-column-end: -3;
  padding: 0px;
}
.freeBox__xEypm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xEypm > :global(.__wab_flex-container) > *,
.freeBox__xEypm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xEypm > :global(.__wab_flex-container) > picture > img,
.freeBox__xEypm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 641px) {
  .freeBox__xEypm {
    max-width: 90%;
  }
}
.text__umcng {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-OUN95h6v6);
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__oNpL5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #b7b7b721;
  min-width: 0;
  padding: 12px;
}
.freeBox__oNpL5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__oNpL5 > :global(.__wab_flex-container) > *,
.freeBox__oNpL5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oNpL5 > :global(.__wab_flex-container) > picture > img,
.freeBox__oNpL5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__jgxSk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  min-width: 0;
  display: block;
}
.text__aXdL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dAb4G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vn2C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jLtot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__jLtot > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jLtot > :global(.__wab_flex-container) > *,
.freeBox__jLtot > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jLtot > :global(.__wab_flex-container) > picture > img,
.freeBox__jLtot
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 0px;
}
.dataProvider__bldF3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.toastProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: flex;
}
.formProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__k9CNw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__k9CNw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__k9CNw > :global(.__wab_flex-container) > *,
.freeBox__k9CNw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k9CNw > :global(.__wab_flex-container) > picture > img,
.freeBox__k9CNw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__qVUe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-OUN95h6v6);
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___2XjeL {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox___2XjeL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 1100px) {
  .freeBox___2XjeL > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 1100px) {
  .freeBox___2XjeL > :global(.__wab_flex-container) > *,
  .freeBox___2XjeL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2XjeL > :global(.__wab_flex-container) > picture > img,
  .freeBox___2XjeL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.formField__m5KDq:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-OUN95h6v6);
  display: block;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__m5KDq:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zcbq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mnPvz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__pAje {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__pAje {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__m4VZe:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__m4VZe:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input6:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iyNnr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__lKoDx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bD1Ku {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__bD1Ku {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__kc5IE:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__kc5IE:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input7:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ylkF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4W5Wm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___3NcOx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text___3NcOx {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.freeBox__gvWi3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__gvWi3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 1100px) {
  .freeBox__gvWi3 {
    width: 100%;
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 1100px) {
  .freeBox__gvWi3 > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 1100px) {
  .freeBox__gvWi3 > :global(.__wab_flex-container) > *,
  .freeBox__gvWi3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gvWi3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__gvWi3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.formField___91ZI0:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField___91ZI0:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input19:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bMao {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jdIvU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__o8EyE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__o8EyE {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__auq8:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__auq8:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input20:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kmyti {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hx9Jw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lwQz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__lwQz {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.freeBox___5AruL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox___5AruL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___5AruL > :global(.__wab_flex-container) > *,
.freeBox___5AruL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5AruL > :global(.__wab_flex-container) > picture > img,
.freeBox___5AruL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 1100px) {
  .freeBox___5AruL {
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 20px) !important;
  }
}
@media (min-width: 1100px) {
  .freeBox___5AruL > :global(.__wab_flex-container) {
    justify-content: space-between;
  }
}
.formField__wY3U6:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__wY3U6:global(.__wab_instance) {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 20px) !important;
    width: 48%;
  }
}
.input10:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 1100px) {
  .input10:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___4OtL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qUfIr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uXnyi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__uXnyi {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__zmKc:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__zmKc:global(.__wab_instance) {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 20px) !important;
    width: 48%;
  }
}
.input11:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 1100px) {
  .input11:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__y47Yd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__gV9G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xMarS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
.formField__iRyp0:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__iRyp0:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input21:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hToMp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__w0PvS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nkXcS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__nkXcS {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__gYguX:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__gYguX:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.state:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___5Dvo4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text___5Dvo4 {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__m56Ec:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__m56Ec:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.city:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.text__fqDz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__fqDz {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__v4Vo:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__v4Vo:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input24:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ryKh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__r80Rq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kvi6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__kvi6 {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__rCN7:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__rCN7:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input12:global(.__wab_instance) {
  max-width: 100%;
}
.svg___272Hm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vyJeE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tBi8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
}
@media (min-width: 1100px) {
  .text__tBi8 {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.button___608VO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xfu8D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cE61X {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__sdJ0E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sdJ0E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__sdJ0E > :global(.__wab_flex-container) > *,
.freeBox__sdJ0E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sdJ0E > :global(.__wab_flex-container) > picture > img,
.freeBox__sdJ0E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.dataProvider___3GYtH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__wwlSs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-OUN95h6v6);
}
.freeBox__wwlSs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.freeBox__wwlSs > :global(.__wab_flex-container) > *,
.freeBox__wwlSs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wwlSs > :global(.__wab_flex-container) > picture > img,
.freeBox__wwlSs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
.freeBox__mB40R {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mB40R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__mB40R > :global(.__wab_flex-container) > *,
.freeBox__mB40R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mB40R > :global(.__wab_flex-container) > picture > img,
.freeBox__mB40R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (min-width: 641px) {
  .freeBox__mB40R {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 641px) {
  .freeBox__mB40R > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 641px) {
  .freeBox__mB40R > :global(.__wab_flex-container) > *,
  .freeBox__mB40R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mB40R > :global(.__wab_flex-container) > picture > img,
  .freeBox__mB40R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
@media (min-width: 1100px) {
  .freeBox__mB40R > :global(.__wab_flex-container) {
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 1100px) {
  .freeBox__mB40R > :global(.__wab_flex-container) > *,
  .freeBox__mB40R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mB40R > :global(.__wab_flex-container) > picture > img,
  .freeBox__mB40R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.text__mPaEe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  white-space: pre;
  font-weight: 600;
}
.text___98IIi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  min-width: 0;
}
.freeBox__wr3Fe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wr3Fe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wr3Fe > :global(.__wab_flex-container) > *,
.freeBox__wr3Fe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wr3Fe > :global(.__wab_flex-container) > picture > img,
.freeBox__wr3Fe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 641px) {
  .freeBox__wr3Fe {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 641px) {
  .freeBox__wr3Fe > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 641px) {
  .freeBox__wr3Fe > :global(.__wab_flex-container) > *,
  .freeBox__wr3Fe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wr3Fe > :global(.__wab_flex-container) > picture > img,
  .freeBox__wr3Fe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.button__ra5St:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ecLkm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tcsAt {
  padding-right: 0px;
}
.svg__acaGh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__elqr5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__buYu0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__c8CHv {
  padding-left: 0px;
}
.svg__bUQv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.dataProvider__nuehj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__yuMj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  margin-top: 0px;
}
.text__crj9Z {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  margin-top: 0px;
}
.text__tWat7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  margin-top: 0px;
}
.freeBox__tmwrx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tmwrx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__tmwrx > :global(.__wab_flex-container) > *,
.freeBox__tmwrx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tmwrx > :global(.__wab_flex-container) > picture > img,
.freeBox__tmwrx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 1100px) {
  .freeBox__tmwrx {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .freeBox__tmwrx > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 1100px) {
  .freeBox__tmwrx > :global(.__wab_flex-container) > *,
  .freeBox__tmwrx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tmwrx > :global(.__wab_flex-container) > picture > img,
  .freeBox__tmwrx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.button__xaC1P:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mgVrc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iUMzA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__nJfum:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g7HjI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qgvC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.loading:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: flex;
}
