.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 50px;
}
.voce {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 30px;
  min-width: 0;
}
.botao:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5LKgG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text {
  padding-top: 0px;
  font-size: 25px;
}
.svg__jANg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
