.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  grid-row-gap: 20px;
  align-content: flex-start;
  justify-items: center;
  background: url("/plasmic/a_d/images/whatsAppImage20230611At000637Jpeg.jpg") top 50% left 50% / contain repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
:where(.root > *) {
  grid-column: 4;
}
@media (min-width: 641px) {
  .root {
    padding-bottom: 22px;
  }
}
@media (min-width: 641px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
@media (min-width: 1100px) {
  :where(.root > *) {
    grid-column: 4;
  }
}
.responsiveMenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
}
.freeBox__xEypm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3;
  grid-column-end: -3;
  padding: 8px;
}
.freeBox__xEypm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xEypm > :global(.__wab_flex-container) > *,
.freeBox__xEypm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xEypm > :global(.__wab_flex-container) > picture > img,
.freeBox__xEypm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 641px) {
  .freeBox__xEypm {
    max-width: 90%;
  }
}
.freeBox__jLtot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBox__jLtot > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jLtot > :global(.__wab_flex-container) > *,
.freeBox__jLtot > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jLtot > :global(.__wab_flex-container) > picture > img,
.freeBox__jLtot
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__umcng {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-OUN95h6v6);
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__m5J7F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 200px;
  padding: 0px;
}
@media (min-width: 641px) {
  .freeBox__m5J7F {
    justify-content: center;
    align-items: flex-start;
  }
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 0px;
}
.formProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lyJq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rm9Bf {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rm9Bf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 641px) {
  .freeBox__rm9Bf {
    max-width: 90%;
  }
}
@media (min-width: 1100px) {
  .freeBox__rm9Bf > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 1100px) {
  .freeBox__rm9Bf > :global(.__wab_flex-container) > *,
  .freeBox__rm9Bf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rm9Bf > :global(.__wab_flex-container) > picture > img,
  .freeBox__rm9Bf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.formField__lYhaA:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-OUN95h6v6);
  display: block;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__lYhaA:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input:global(.__wab_instance) {
  max-width: 100%;
}
.svg__eStx4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__s7VXe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fKd6Y {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__fKd6Y {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__sy5KZ:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__sy5KZ:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__q27Rx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tFwrp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__byIt9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__byIt9 {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__quT5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__quT5:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nnZwx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bYjko {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jzOrH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__jzOrH {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formFieldGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__xmcbt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__xmcbt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 1100px) {
  .freeBox__xmcbt {
    width: 100%;
    min-width: 0;
    margin: 0px;
  }
}
@media (min-width: 1100px) {
  .freeBox__xmcbt > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 1100px) {
  .freeBox__xmcbt > :global(.__wab_flex-container) > *,
  .freeBox__xmcbt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xmcbt > :global(.__wab_flex-container) > picture > img,
  .freeBox__xmcbt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.formField__qVfVl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__qVfVl:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input13:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ud5Ur {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tuKTn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uLrKi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__uLrKi {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__i09Vy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__i09Vy:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input18:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ybnYp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__m06UH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jh6Iw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__jh6Iw {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.freeBox__hBmx1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__hBmx1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__hBmx1 > :global(.__wab_flex-container) > *,
.freeBox__hBmx1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hBmx1 > :global(.__wab_flex-container) > picture > img,
.freeBox__hBmx1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 1100px) {
  .freeBox__hBmx1 {
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 20px) !important;
  }
}
@media (min-width: 1100px) {
  .freeBox__hBmx1 > :global(.__wab_flex-container) {
    justify-content: space-between;
  }
}
.formField__zfhb5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__zfhb5:global(.__wab_instance) {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 20px) !important;
    width: 48%;
  }
}
.input8:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 1100px) {
  .input8:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___96XQg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___16LaM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vGwzA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__vGwzA {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField___3Ogj:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField___3Ogj:global(.__wab_instance) {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 20px) !important;
    width: 48%;
  }
}
.input9:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 1100px) {
  .input9:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__rRcS5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ofmu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__u86W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
  min-width: 0;
}
.formField__my6JW:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__my6JW:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input14:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zWe4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___5VDxg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___9JSf2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text___9JSf2 {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__c0TEz:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__c0TEz:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input15:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nkJjO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ehXmT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qCq99 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__qCq99 {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__psNuu:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__psNuu:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input17:global(.__wab_instance) {
  max-width: 100%;
}
.svg__k1Lhb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__q8Gv5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lfgXh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__lfgXh {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__we6Xw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__we6Xw:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input16:global(.__wab_instance) {
  max-width: 100%;
}
.svg__z4J0I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__j0JS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vlF2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 1100px) {
  .text__vlF2 {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.formField__kk3R3:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
@media (min-width: 1100px) {
  .formField__kk3R3:global(.__wab_instance) {
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
  }
}
.input5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__aNbqO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yyLz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__t5Hdi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  padding-right: 0px;
  padding-left: 0px;
}
@media (min-width: 1100px) {
  .text__t5Hdi {
    min-width: var(--token-uYlbgJ5Hu);
  }
}
.button__y1IUn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ekBf4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tigij {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__sdJ0E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sdJ0E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__sdJ0E > :global(.__wab_flex-container) > *,
.freeBox__sdJ0E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sdJ0E > :global(.__wab_flex-container) > picture > img,
.freeBox__sdJ0E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.dataProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__wwlSs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-OUN95h6v6);
}
.freeBox__wwlSs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.freeBox__wwlSs > :global(.__wab_flex-container) > *,
.freeBox__wwlSs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wwlSs > :global(.__wab_flex-container) > picture > img,
.freeBox__wwlSs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
.freeBox__mB40R {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mB40R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__mB40R > :global(.__wab_flex-container) > *,
.freeBox__mB40R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mB40R > :global(.__wab_flex-container) > picture > img,
.freeBox__mB40R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__mPaEe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  white-space: pre;
  font-weight: 600;
}
.text___98IIi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  min-width: 0;
}
.freeBox__wr3Fe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wr3Fe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wr3Fe > :global(.__wab_flex-container) > *,
.freeBox__wr3Fe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wr3Fe > :global(.__wab_flex-container) > picture > img,
.freeBox__wr3Fe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 641px) {
  .freeBox__wr3Fe {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 641px) {
  .freeBox__wr3Fe > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 641px) {
  .freeBox__wr3Fe > :global(.__wab_flex-container) > *,
  .freeBox__wr3Fe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wr3Fe > :global(.__wab_flex-container) > picture > img,
  .freeBox__wr3Fe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.button__ra5St:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ecLkm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tcsAt {
  padding-right: 0px;
}
.svg__acaGh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__elqr5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__buYu0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__c8CHv {
  padding-left: 0px;
}
.svg__bUQv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yuMj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  margin-top: calc(0px + 10px) !important;
  min-width: 0;
}
.text__crj9Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  margin-top: calc(0px + 10px) !important;
  min-width: 0;
}
.text__yasZc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-OUN95h6v6);
  margin-top: calc(0px + 10px) !important;
  margin-bottom: 25px;
  min-width: 0;
}
.freeBox__tmwrx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tmwrx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__tmwrx > :global(.__wab_flex-container) > *,
.freeBox__tmwrx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tmwrx > :global(.__wab_flex-container) > picture > img,
.freeBox__tmwrx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 1100px) {
  .freeBox__tmwrx {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1100px) {
  .freeBox__tmwrx > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 1100px) {
  .freeBox__tmwrx > :global(.__wab_flex-container) > *,
  .freeBox__tmwrx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tmwrx > :global(.__wab_flex-container) > picture > img,
  .freeBox__tmwrx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.button__xaC1P:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mgVrc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iUMzA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__nJfum:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g7HjI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qgvC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.loading:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: flex;
}
